[submodule "deps/crapmud"]
	path = deps/crapmud
	url = git@gitlab.com:20k/crapmud.git
[submodule "deps/vec"]
	path = deps/vec
	url = https://github.com/20k/funvectormaths
[submodule "deps/tinydir"]
	path = deps/tinydir
	url = https://github.com/cxong/tinydir
[submodule "deps/libncclient"]
	path = deps/libncclient
	url = https://github.com/20k/libncclient.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/ubawurinna/freetype-windows-binaries
[submodule "deps/imgui-sfml"]
	path = deps/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
[submodule "deps/ImGuiColorTextEdit"]
	path = deps/ImGuiColorTextEdit
	url = https://github.com/20k/ImGuiColorTextEdit
[submodule "deps/networking"]
	path = deps/networking
	url = https://github.com/20k/clientservernetworking
[submodule "deps/ndb"]
	path = deps/ndb
	url = https://github.com/20k/ndb
[submodule "deps/toolkit"]
	path = deps/toolkit
	url = https://github.com/20k/JGameToolkit
[submodule "deps/imtui"]
	path = deps/imtui
	url = https://github.com/ggerganov/imtui
