[submodule "deps/crapmud"]
	path = deps/crapmud
	url = https://bitbucket.org/20k11/crapmud
[submodule "deps/vec"]
	path = deps/vec
	url = https://github.com/20k/funvectormaths
[submodule "deps/tinydir"]
	path = deps/tinydir
	url = https://github.com/cxong/tinydir
[submodule "deps/serialise"]
	path = deps/serialise
	url = https://github.com/20k/funserialisation
