[submodule "deps/crapmud"]
	path = deps/crapmud
	url = git@gitlab.com:20k/crapmud.git
[submodule "deps/vec"]
	path = deps/vec
	url = https://github.com/20k/funvectormaths
[submodule "deps/tinydir"]
	path = deps/tinydir
	url = https://github.com/cxong/tinydir
[submodule "deps/serialise"]
	path = deps/serialise
	url = https://github.com/20k/funserialisation
[submodule "deps/libncclient"]
	path = deps/libncclient
	url = https://github.com/20k/libncclient.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/ubawurinna/freetype-windows-binaries
[submodule "deps/imgui-sfml"]
	path = deps/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
[submodule "deps/ImGuiColorTextEdit"]
	path = deps/ImGuiColorTextEdit
	url = https://github.com/20k/ImGuiColorTextEdit
[submodule "deps/SFML"]
	path = deps/SFML
	url = https://github.com/20k/SFML
[submodule "deps/SFML-src"]
	path = deps/SFML-src
	url = https://github.com/20k/SFML
